body{
    background: rgb(126, 74, 74);
}
.Clock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(3, 51, 27);
    font-size: 80px;
    border: 1px solid rgb(170, 226, 248);
    padding: 0px 5px 0px 5px;
}